.login-form {
  grid-column: span 3;
  justify-self: center;
  width: 30%;
  margin-bottom: 50px;
}

.login-form h2 {
  color: var(--color-grey-black);
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
}
.login-form label {
  text-align: left;
  display: block;
  font-weight: 600;
  color: var(--color-grey-black);
}

.login-form input {
  width: 100%;
  text-align: left;
  padding: 4px;
  margin: 10px 0;
  outline: none;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: all 0.5s ease;
  height: 30px;
  font-size: 16px;
}

.login-form input:nth-child(2n) {
  margin-bottom: 30px;
}

.login-form input:focus {
  border: 2px solid var(--color-dark-primary);
}

.login-form .btn {
  margin-top: 20px;
  padding: 9px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  background: var(--color-primary);
  transition: all 0.3s ease;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
}

.login-form .btn:hover {
  transform: translateY(-3px);
}

.login-form .btn:focus {
  transform: translateY(0px);
}

.new-member a,
.new-member a:active,
.new-member a:visited {
  text-decoration: none;
  color: #07b4b4;
}

.new-member {
  margin-top: 30px;

  color: var(--color-grey-black);
  text-align: center;
}

.error {
  text-align: center;
  color: red;
  margin-bottom: 10px;
}
