.content {
  grid-column: span 3;
}

.home {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100vh;
}

.link-type {
  grid-column: span 1;
  padding: 30px;
  list-style: none;
  color: var(--color-grey-black);
}

.link-type p {
  font-weight: 800;
  font-size: 20px;
}

.link-type li {
  margin-top: 30px;
}

.link-type li a {
  text-decoration: none;
  color: var(--color-grey-black);
}

.article {
  margin-top: 45px;
  grid-column: 2 / span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
