.contact-form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  height: 80vh;
}

.contact-form h2 {
  color: var(--color-title);
  font-size: 24px;
  margin-bottom: 40px;
}
.contact-form label {
  text-align: left;
  display: block;
  font-weight: 600;
  color: var(--color-grey-black);
}

.contact-form input,
textarea {
  width: 100%;
  text-align: left;
  padding: 4px;
  margin: 10px 0;
  outline: none;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: all 0.3s ease;
  height: 30px;
  font-size: 16px;
}

.contact-form textarea {
  resize: none;
  height: 100px;
}

.contact-form input:nth-child(2n) {
  margin-bottom: 30px;
}

.contact-form input:focus {
  border: 2px solid var(--color-green-neon);
}

.contact-form .btn {
  margin-top: 20px;
  padding: 9px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  background: var(--color-green-neon);
  transition: all 0.3s ease;
  width: 100%;
}

.contact-form .btn:hover {
  transform: translateY(-3px);
}

.contact-form .btn:focus {
  transform: translateY(0px);
}
