.navbar {
  grid-column: span 3;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  justify-content: space-between;
}

.logo {
  margin-left: 20px;
  text-decoration: none;
  color: var(--color-title);
}

.logo h1 {
  border-bottom: 1.5px solid var(--color-title);
}

.nav-link a {
  margin-right: 40px;
  text-decoration: none;
  color: var(--color-grey-black);
  opacity: 0.5;
  transition: all 0.3s ease;
}

.nav-link a:hover {
  opacity: 1;
}

.nav-link .signup {
  padding: 10px;
  border-radius: 5px;
  background: var(--color-green-neon);
  opacity: 1;
}
