.footer {
  border-top: 1px solid black;
  grid-column: span 3;
  text-align: center;
  padding: 30px;
}

.footer a {
  text-decoration: none;
  color: var(--color-title);
}

.footer a h2 {
  display: inline;
  border-bottom: 1px solid var(--color-title);
}

.footer-link {
  margin-top: 20px;
}
