.new-blog {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
 min-height: 80vh;
}

.new-blog h2 {
  font-size: 24px;
  color: var(--color-title);
  margin-bottom: 40px;
}

.new-blog label {
  text-align: left;
  display: block;
  font-weight: 600;
  color: var(--color-grey-black);
}

.new-blog input,
.new-blog textarea,
.new-blog select {
  width: 100%;
  padding: 4px;
  margin: 10px 0px;
  display: block;
  outline: none;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: all 0.3s ease;
  height: 30px;
  font-size: 16px;
}

.new-blog textarea {
  height: 300px;
  resize: none;
}

.new-blog select {
  height: 40px;
  width: 103%;
}

.new-blog input:focus,
.new-blog textarea:focus,
.new-blog select:focus {
  border: 2px solid var(--color-title);
}

.new-blog input[type="file"] {
  color: var(--color-grey-black);
}

.new-blog .btn {
  margin-top: 20px;
  padding: 9px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  background: var(--color-green-neon);
  transition: all 0.3s ease;
  width: 100%;
}

.new-blog .btn:hover {
  transform: translateY(-3px);
}

.new-blog .btn:focus {
  transform: translateY(0px);
}
