.new-blog {
  margin-bottom: 50px;
  grid-column: span 3;
  width: 30%;
  justify-self: center;
}

.new-blog h2 {
  font-size: 24px;
  color: var(--color-grey-black);
  margin-bottom: 40px;
  text-align: center;
}

.new-blog label {
  text-align: left;
  display: block;
  font-weight: 600;
  color: var(--color-grey-black);
}

.new-blog input,
.new-blog textarea,
.new-blog select {
  width: 100%;
  padding: 4px;
  margin: 20px auto;
  display: block;
  outline: none;
  border: 3px solid transparent;
  border-radius: 4px;
  transition: all 0.5s ease;
  height: 30px;
  font-size: 16px;
  font-family: "Poppins";
}

.new-blog textarea {
  height: 300px;
  resize: none;
}

.new-blog select {
  height: 40px;
  width: 100%;
}

.new-blog input:focus,
.new-blog textarea:focus,
.new-blog select:focus {
  border: 3px solid var(--color-dark-primary);
}

.new-blog input[type="file"] {
  color: var(--color-grey-black);
}

.new-blog .btn {
  margin-top: 20px;
  padding: 9px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  background: var(--color-primary);
  transition: all 0.3s ease;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
}

.btn-container {
  text-align: center;
}

.new-blog .btn:hover {
  transform: translateY(-3px);
}

.new-blog .btn:focus {
  transform: translateY(0px);
}

.blog-link {
  text-decoration: none;
}

.blog-details {
  grid-column: span 2;
  padding: 30px;
  line-height: 40px;
  border-right: 1px solid #ddd;
  margin-bottom: 350px;
}

.blog-details > * {
  color: var(--color-grey-black);
}

.blog-details h2 {
  text-align: center;
}

.blog-meta {
  padding: 10px;
  color: var(--color-grey-black);
}

.blog-meta ul {
  list-style: none;
}

.blog-meta li {
  font-weight: 700;
}
